{% extends 'base.html' %}

{% block content %}
<div class="container container-windows">
	<h2 class="mt-5">Восстановление пароля</h2>
	<p>Введите адрес электронной почты, связанный с вашим аккаунтом. Мы отправим вам инструкции по сбросу пароля на этот
		email.</p>

	<div class="row">
		<div class="col-md-6 offset-md-3">
			{% if messages %}
			<ul class="alert alert-info">
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			<form method="post">
				{% csrf_token %}
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" name="email" required autofocus
						placeholder="Введите ваш email">
				</div>
				<button type="submit" class="btn btn-primary">Сбросить пароль</button>
			</form>
			<p class="mt-2">Помните пароль? <a href="{% url 'login' %}">Войти</a></p>
		</div>
	</div>
</div>
{% endblock %}