{% extends 'base.html' %}

{% block content %}
<div class="container container-windows">
	<h2 class="mt-5">Сброс пароля</h2>
	<form method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="new_password1">Новый пароль</label>
			<input type="password" class="form-control input_login_style" name="new_password1" required
				placeholder="Введите новый пароль">
		</div>
		<div class="form-group">
			<label for="new_password2">Подтверждение нового пароля</label>
			<input type="password" class="form-control input_login_style" name="new_password2" required
				placeholder="Подтвердите новый пароль">
		</div>
		<button type="submit" class="btn btn-primary">Сбросить пароль</button>
	</form>
</div>
{% endblock %}